html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  width: 550px;
}

.google-logo {
  width: 272px;
  margin: 0 auto;
}

.search-bar {
  width: 100%;
  margin: 30px 0;
  padding: 7px;
  height: 1.8em;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  height: 35px;
  width: 125px;
  margin: 0 5px;
  border: none;
  font-size: .75em;
  font-weight: bold;
  color: #888;
  background-color: #EEE;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  transition: .2s;
}

button:hover {
  color: black;
  border: 1px solid;
  border-color: #888;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
