html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
}

/* Navbar */

nav {
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav li {
  list-style: none;
  padding: 10px 10px;
  font-weight: 300;
  font-size: 0.8em;
  color: grey;
}

#profile-picture {
  padding: 0 10px;
}

#profile-picture img {
  border-radius: 100px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

/* Main body */

#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  width: 550px;
}

.google-logo {
  width: 272px;
  margin: 0 auto;
}

.search-bar {
  width: 100%;
  margin: 30px 0;
  padding: 7px;
  height: 1.8em;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  height: 35px;
  width: 125px;
  margin: 0 5px;
  border: none;
  font-size: .75em;
  font-weight: bold;
  color: #888;
  background-color: #EEE;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  transition: .2s;
  outline: none;
}

button:hover {
  color: black;
  border: 1px solid;
  border-color: #888;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EEE;
  padding-right: 10px;
  font-weight: normal;
  font-size: .8em;
  color: black;
}

footer a {
  text-decoration: none;
  color: #888;
}

a:hover {
  text-decoration: underline;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

#left-links {
  float: left;
}

footer li {
  padding-right: 20px;
}

#right-links {
  float: right;
}
